
/* global styles */

body {
    font-family: verdana, geneva, arial, sans-serif;
    font-size: 90%;
    line-height: 1.35;
    padding: 0 4em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
h1, h2, h3 {
    color: #963;
    background: transparent;
}
h1 { font: 900 170% sans-serif; border-bottom: 1px solid gray; }
h2 { font: 800 140% sans-serif; border-bottom: 1px solid gray; }
h3 { font: 700 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

pre {
    background-color: #f3f3ff;
    border: 1px #9999cc dotted;
    color: #000000;
    width: 90%;
}

dt {
    font-weight: bold;
}

blockquote, q {
    font-style: italic;
}

code {
    font-size: 1.4em;
}

:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
:link:active, :visited:active { color: #C00; background: transparent }
:link:hover, :visited:hover { background: #ffa; }
code :link, code :visited { color: inherit; }

table {
    border-collapse: collapse;
    border: solid #999999 1px;
    font-size: 1em;
}
table thead {
    border-bottom: solid #999999 2px;
}
table th, table td {
    border-left: solid #999999 1px;
    border-right: solid #999999 1px;
    border-bottom: solid #999999 1px;
    vertical-align: top;
    padding: 0.2em;
}

/* role/widget styles */

#toc {
    background-color: #eff;
    border: 0.8pt dashed #777;
    font-size: 80%;
    padding: 0.2em 0.6em;
}
#toc h2 {
    color: #333;
    border: none;
    margin: 0.2em 0;
}
#toc a {
    color: #333;
}

.header {
    position: relative;
}
.header a.tool {
    position: absolute;
    top: 0;
    right: 0;
}

.col-2 {
    overflow: auto;
}
.col-2 .col {
    float: left;
    width: 49%;
}

a.tool {
    color: #777;
    font-size: 0.8em;
}

/* domain styles */

#hierarchy ul {
    font-size: 0.8em;
}
#hierarchy ul ul {
    font-size: 1em;
}

#defs dl {
    border: 0.8pt dashed #777;
    background-color: #eff;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0.4em 0.8em;
}
#defs dl dt {
    display: block;
    margin: 0 0.5em 0 0;
}
#defs dl dd {
    display: block;
    margin: 0;
    padding-left: 2em;
}
#defs dl dd ul {
    display: block;
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    overflow: auto;
}
#defs dl dd ul li {
    display: block;
    list-style: none;
    float: left;
    margin: 0 1.2em 0 0;
}

div.def {
    padding: 1em 1em;
    border-bottom: 0.8pt dashed #777;
    margin-bottom: 1em;
}
div.def h3 {
    color: #333;
    background-color: #eff;
    padding: 0.2em;
    margin: 0 -0.2em;
}
div.def .footer {
    text-align: right;
}

dl.termdef dd {
    margin: 0 0 0.6em 3.5em;
}

dl.termdef dl {
    overflow: auto;
    margin: 0;
    padding: 0;
}
dl.termdef dl dt {
    clear: left;
    float: left;
    margin: 0 0.8em 0 0;
    padding: 0;
}
dl.termdef dl dd {
    float: left;
    margin: 0;
    padding: 0;
}

